<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        *{
            margin:0;
            padding:0;
            box-sizing:border-box;
            font-family: 'Open Sans', sans-serif;

        }
        body{
            display:flex;
            justify-content:center;
            align-items:center;
            height:100vh;
            background-color:#f0f0f0;
        }
        .container{
            background-color:#fff;
            padding:20px;
            border-radius:8px;
            box-shadow:0 0 10px rgba(0,0,0,0.1);
            width:300px;
        }
            .container h2{
                text-align:center;
                margin-bottom:20px;
            }
            .container form div{
                margin-bottom:15px;
            }
            .container form label{
                display:block;
                margin-bottom:5px;
            }
            .container form input{
                width:100%;
                padding:8px;
                border:1px solid #ccc;
                border-radius:4px;
            }

            .container form button{
                width:100%;
                padding:10px;
                background-color:#28a745;
                color:#fff;
                border:none;
                border-radius:4px;
                cursor:pointer;
            }
            
            .container form button:hover{
                background-color:#218838;
            }

    </style>
</head>
<body>
    <div class="container">
        <h2>Register</h2>
        <form action="/employee/signup" method="POST">
            <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Register</button>
        </form>
    </div>
    <% if (error) { %>
        <script>
            alert("<%= error %>");
        </script>
    <% } %>
    
</body>
</html>